* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* //1rem=10px, 10px/16px= 62.5% */
}

:root {
  --primary-color: #a21caf;
  --backgroundColor: #ecd2ef;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  color: var(--primary-color);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.heading-2 {
  text-align: center;
  margin-top: 5rem;
  font-size: 2.7rem;
  margin-bottom: 2.5rem;
}
.discriptionOfCRM {
  font-size: 1.5rem;
  text-align: center;
  color: #310834;
}

input {
  width: 25rem;
  font-size: 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
  outline: none;
  padding: 1rem 2rem;
}

label {
  margin: 2rem 0 1rem 0;
  font-size: 2rem;
}
.btn {
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--primary-color);
  outline: none;
  border: none;
  margin: 2.5rem 0;
  border-radius: 0.8rem;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-modifier {
  margin: 2.5rem 0;
}
.btn:hover {
  transform: translateY(-1px);
  background-color: #410b46;
}

.error-bill {
  font-size: 1.5rem;
  color: #310834;
}

.fordoingCenter {
  display: flex;
  display: none;
}
.btn--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-left: 14rem;
}
#btn {
  margin-right: 1.5rem;
}

.error-cash {
  font-size: 1.5rem;
  color: #310834;
  margin-bottom: 1.5rem;
  margin-left: 14.5rem;
}
caption {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.show-table {
  font-size: 1.7rem;
  display: none;
}

.money-change-table {
  margin: auto;
  background-color: #fff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  table-layout: fixed;
}
.money-change-table th {
  font-size: 1.5rem;
  color: #310834;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 1rem;
}

.money-change-table td {
  font-size: 1.5rem;
  border: 1px solid var(--primary-color);
  border-radius: 3px;
  padding: 1rem;
  color: #310834;
}
